# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Code Editors
/.idea
/.vscode
/*.csproj
/*.sln
*.swp
*.vcxproj.user

# Unity
/Library
/Logs
/Recordings
/Temp

/Ableton/*.wav
/Ableton/Backup
/Assets/Audio/*.wav
/Assets/Titles/Textures/*.png
/Composite/Render
/Composite/Source
/Composite/Adobe*

borg.sh
