# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Code Editors
/.idea
/.vscode
/*.csproj
/*.sln
*.swp
*.vcxproj.user

# Unity
/Library
/Logs
/Recordings
/Temp

/Assets/Audio/*.wav
/Assets/Titles/Textures/*.png
/Composite/Render/*.mov
/Composite/Render/*.mp4
/Composite/Source/*.mov
/Composite/Source/*.mp4
/Composite/Adobe*

borg.sh
